@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

html,body{
  overflow-x: hidden!important;
}

:root {
  --topnav: #29b638;
  --sidenav: #192919;
}

.circular-div {
  width: 10px;
  height: 10px;
  background-color: rgba(4, 214, 4, 0.5);
  position: fixed;
  z-index: 100;
  border-radius: 50%;
}

.circular-div::after {
  position: absolute;
  content: "";
  inset: 0;
  border: 2px solid rgba(4, 214, 4, 0.5);
  padding: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.page1 {
  width: 100vw;
  position: relative;
  /* overflow: hidden; */
}

.hero-carousel {
  position: relative;
}

.hero-carousel img {
  object-fit: cover;
  height: 95vh;
  filter: brightness(50%);
}

.hero-carousel .owl-nav {
  position: absolute;
  bottom: 0px;
  right: 0;
  margin-right: 250px;
  background-color: white;
  padding: 15px 40px;
  padding-bottom: 20px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  /* border: 2px solid; */
}

@media (max-width: 727px) {
  .hero-carousel .owl-nav {
    right: 0;
    margin-right: 100px;
  }
}

@media (max-width: 469px) {
  .hero-carousel .owl-nav {
    right: 0;
    margin-right: 10px;
    padding: 10px 20px;
    gap: 50px;
  }
}

.hero-carousel .owl-dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  z-index: 11;
}

.hero-carousel .owl-dots .owl-dot span {
  background-color: white !important;
  width: 20px !important;
  height: 20px !important;
}

.hero-carousel .owl-dots .owl-dot.active span {
  background-color: transparent !important;
  border: 2px solid white !important;
}

.hero-carousel .owl-nav .owl-prev,
.hero-carousel .owl-nav .owl-next {
  color: gray !important;
  transition: all 0.5s;
  z-index: 1000 !important;
}

.hero-carousel .owl-nav .owl-prev:hover {
  background-color: transparent !important;
  color: black !important;
}
.hero-carousel .owl-nav .owl-next:hover {
  background-color: transparent !important;
  color: black !important;
}

@media (max-width: 769px) {
  .hero-carousel .owl-dots {
    display: none !important;
  }
}

nav {
  position: fixed;
  top: 20px;
  z-index: 11;
  left: 0;
  right: 0;
  width: 96%;
  margin: auto;
  border-radius: 6px;
}

nav-upper-part {
  display: flex;
  padding: 10px 40px;
  font-size: 13px;
  justify-content: space-between;
  background-color: var(--topnav);
  color: white;
  margin-bottom: 3px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: all 0.2s;
}

#nav-uleft-side {
  display: flex;
  gap: 30px;
  width: 50%;
  justify-content: start;
}

.num {
  display: flex;
  gap: 10px;
  align-items: center;
}

#nav-uright-side {
  display: flex;
  width: 50%;
  justify-content: end;
}

#nav-uright-side span {
  margin-right: 30px;
}

#nav-uright-side i {
  margin-right: 15px;
}

.fa-phone {
  transform: rotateY(180deg);
  font-size: 8px;
  position: relative;
  color: var(--topnav);
  padding: 3px;
  margin-right: -2px;
}

.fa-phone::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: -1;
  border-radius: 2px;
}

nav-lower-part {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 35px 50px;
  gap: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: all 1s;
}

nav-lower-part img {
  position: absolute;
  top: 0;
  left: 0;
}

#nav-lmid-part {
  display: flex;
  gap: 30px;
  width: fit-content;
  margin: auto;
}

#nav-lmid-part a {
  text-decoration: none;
  color: gray;
}

nav-lower-part .fa-grip-lines,
nav-lower-part button {
  display: none;
}

#icons {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  /* border: 2px solid; */
}

#icons i {
  color: gray;
  font-size: 25px;
}

.fa-magnifying-glass {
  margin-right: 15px;
}

#icons span {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.264);
  margin-right: 20px;
}

.fa-grip-lines {
  color: var(--topnav);
  font-size: 30px;
  cursor: pointer;
}

.mobile-show button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  line-height: 30px;
  font-size: 12px;
  outline: none;
  border: none;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 9;
  color: black;
  transition: all 0.8s;
}

.mobile-show button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  transform: translateY(-100px);
  transition: all 0.8s;
  z-index: -1;
}

.mobile-show button:hover:after {
  transform: translateY(0);
}

.mobile-show button:hover {
  color: rgb(255, 255, 255);
}

.mobile-show {
  display: none;
}

@media (max-width: 1413px) {
  #nav-lmid-part {
    /* border: 2px solid; */
    width: 100%;
    justify-content: end;
  }
}

@media (max-width: 1199px) {
  #nav-lmid-part {
    display: none;
  }
  nav-lower-part .fa-grip-lines,
  nav-lower-part button {
    display: block;
    display: flex;
  }
  .mobile-show {
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    width: 60%;
    justify-content: space-around;
  }

  nav-upper-part {
    display: none !important;
  }

  nav-lower-part {
    border-radius: 6px;
  }
}

@media (max-width: 991px) {
  .mobile-show button {
    display: none;
  }
  .mobile-show {
    /* border: 2px solid black; */
    width: 50%;
  }
}

@media (max-width: 769px) {
  nav-lower-part #icons {
    display: none;
  }
  #myimage {
    height: 100%;
  }
  .mobile-show {
    /* border: 2px solid black; */
    width: 100%;
    justify-content: end;
  }
  nav-lower-part {
    overflow: hidden;
  }
}

.nav-show-on-small-screen {
  background-color: var(--sidenav);
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: fit-content;
  align-items: start;
  justify-content: space-evenly;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 0 15px;
  transform: translateX(-100%);
  transition: all 0.8s;
}

.nav-show-on-small-screen .closing-cross {
  color: white;
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.nav-show-on-small-screen a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgb(43, 69, 43);
  padding: 15px 15px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

.nav-show-on-small-screen a:first-child {
  padding-top: 0;
}

.email-small,
.phone-small,
.icons-coll-small {
  padding: 15px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.email-small i {
  font-size: 10px;
  background-color: #008000;
  padding: 10px;
  border-radius: 50%;
}

.phone-small i {
  font-size: 10px;
  position: relative;
  color: white;
  background-color: #008000;
  border-radius: 50%;
  padding: 10px;
}

.phone-small i::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #008000;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
}

.icons-coll-small {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.icons-coll-small i {
  font-size: 18px;
}

.small-nav-show-right {
  transform: translateX(0%);
}

#text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  /* border: 2px solid; */
  width: 75%;
  display: flex;
  flex-direction: column;
  /* pointer-events: none; */
  overflow: hidden;
}

#text-container button {
  width: fit-content;
}

#text-container h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

#text-container h1 {
  font-size: 96px;
  line-height: 90px;
  letter-spacing: -3.84px;
  font-weight: 500;
  margin-bottom: 50px;
}

#text-container button {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 30px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #2ab939;
  color: white;
  font-weight: 500;
  position: relative;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.8s;
}

#text-container button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: -1;
  transform: translateY(-100%);
  transition: all 0.8s;
}

#text-container button:hover:after {
  transform: translateY(0%);
}

#text-container button:hover {
  color: black;
}

@media (max-width: 1199px) {
  #text-container {
    width: 95%;
  }
}
@media (max-width: 769px) {
  #text-container {
    width: 90%;
  }
  #text-container h4 {
    font-size: 19px;
    margin-bottom: 5px;
  }
  #text-container h1 {
    font-size: 70px;
    margin-bottom: 25px;
  }
  #text-container button {
    font-size: 13px;
  }
}

@media (max-width: 757px) {
  .owl-dots {
    display: none;
  }
}

@media (max-width: 575px) {
  #text-container {
    width: 90%;
  }
  #text-container h4 {
    font-size: 18px;
    margin-bottom: 0px;
  }
  #text-container h1 {
    font-size: 70px;
    margin-bottom: 25px;
  }
  #text-container button {
    font-size: 15px;
    padding: 8px 25px;
  }
}

@media (max-width: 361px) {
  #text-container {
    padding: 0 10px;
  }

  #text-container h4 {
    font-size: 18px;
    margin-bottom: -10px;
  }
  #text-container h1 {
    font-size: 58px;
    margin-bottom: 25px;
    line-height: 80px;
  }
}

@media (max-width: 767px) {
  .circular-div {
    display: none;
  }
}

@media (max-width: 1199px) {
  nav {
    position: absolute;
  }
}

.page2 {
  width: 100vw;
  height: fit-content;
  margin: 100px 0;
  /* border: 1px solid; */
}

.page2-contents {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 50px;
}

.flexbox1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 60%;
  height: fit-content;
}

.subflexbox1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subflexbox1 img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  transform: translateX(-100%);
  opacity: 0;
}

.subflexbox2 {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.subflexbox2-cont1 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 10px;
}

.subflexbox2-cont1 img {
  width: 40px;
}

.subflexbox2-cont1 span {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.2px;
  color: gray;
  margin: 10px 0;
}

.subflexbox2 h1 {
  font-size: 46px;
  letter-spacing: -1.8px;
  line-height: 55px;
  font-weight: 600;
  margin-bottom: 40px;
}

.green-lorem {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -1px;
  font-weight: 400;
  color: #2ab939;
  margin-bottom: 10px;
}

.gray-lorem {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: gray;
  margin-bottom: 30px;
}

.subflexbox2-cont2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.subflexbox2-cont2 span {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.8px;
  font-weight: 600;
}

.subflexbox2-cont2 i {
  color: #2ab939;
  border-radius: 50%;
  border: 4px dotted #2ab939;
  padding: 10px;
  font-size: 25px;
  transition: all 0.1s;
}

.subflexbox2-cont2 i:hover {
  font-size: 22px;
}

.subflexbox2-cont2 .child2 i {
  padding: 10px 14px;
}

.subflexbox2-cont2 .child1,
.subflexbox2-cont2 .child2 {
  display: flex;
  gap: 15px;
}

.green-leaf-text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

#green-last-lea {
  margin-bottom: 30px;
}

.green-leaf-text span {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.7px;
  font-weight: 600;
}

.green-leaf-text i {
  color: #2ab939;
}

.subflexbox2 button {
  border: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background-color: RGB(42, 185, 57);
  color: RGB(255, 255, 255);
  padding: 15px 50px;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  position: relative;
  overflow: hidden;
  z-index: 9;
  cursor: pointer;
}

.subflexbox2 button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #192919;
  z-index: -1;
  transform: translateY(-100%);
  transition: all 0.8s;
  opacity: 0;
  border: none;
}

.subflexbox2 button:hover:after {
  transform: translateY(0%);
  opacity: 1;
}

.flexbox2 {
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid black; */
  flex-wrap: wrap;
  padding: 20px 0;
  overflow: hidden;
}

.green-icon-box {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.227);
  padding: 30px 20px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: translateY(100%);
  opacity: 0;
}

.green-icon-box .black-text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.8px;
  font-weight: 600;
}
.green-icon-box .gray-text {
  font-style: 14px;
  line-height: 26px;
  font-weight: 400;
  color: RGB(109, 117, 109);
}
.green-icon-box i {
  font-size: 60px;
  color: #2ab939;
  margin: 30px 0;
}

@media (max-width: 1199px) {
  .flexbox1 {
    flex-direction: column;
    align-items: center;
  }
  .subflexbox1,
  .subflexbox2 {
    width: 100%;
  }

  .green-icon-box {
    margin: 10px;
  }
}

@media (max-width: 756px) {
  .page2-contents {
    width: 90%;
    padding: 0;
  }
}

@media (max-width: 551px) {
  .subflexbox2-cont2 {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  .green-icon-box {
    width: 100%;
    padding: 30px;
  }
}

.page3 {
  width: 100vw;
  height: fit-content;
  background-color: #182818;
  margin: 100px 0;
  padding: 150px 0;
  margin-bottom: 0;
}

.page3-contents {
  width: 70%;
  height: 100%;
  margin: auto;
  /* border: 2px solid rgba(255, 255, 255, 0.222); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 80px;
  position: relative;
}

.page3-contents .top-part-text {
  color: white;
  display: flex;
  flex-direction: column;
  /* border: 2px solid rgba(255, 255, 255, 0.222); */
  gap: 10px;
}

.page3-contents .top-part-text img {
  width: 40px;
  margin-bottom: 3px;
}

.page3-contents .top-part-text span {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: RGB(119, 133, 119);
  letter-spacing: 1.2px;
}

.page3-contents .top-part-text h2 {
  font-size: 46px;
  line-height: 55px;
  letter-spacing: -1.84px;
  font-weight: 600;
}

.services {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.services .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(40, 60, 40);
  border-radius: 6px;
  padding: 20px;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

.services .item:hover .item-img .cari {
  rotate: 2deg;
  scale: 1.1;
}

.cari {
  position: relative;
}

.services .item-img {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.services .item-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #18281893;
  border-radius: 6px;
  top: -100%;
  transform: rotateX(-180deg);
  width: 0;
  height: 0;
  left: 50%;
  transform: rotateX(-100deg) rotateY(-100deg) translateX(-50%);
  transition: all 1s;
}

.services .item:hover .item-img::after {
  top: 0;
  transform: rotateX(0deg);
  width: 150%;
  height: 100%;
  left: 0;
  transform: translateX(0);
  transform: rotateX(0deg) rotateY(200deg);
  scale: 1.1;
  rotate: 2deg;
}

.services .item .cari {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 60px;
  transition: all 0.5s;
}

.services .item a {
  text-decoration: none;
  font-size: 24px;
  letter-spacing: -0.9px;
  line-height: 34px;
  font-weight: 600;
  color: white;
}

.services .item p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(119, 133, 119);
  text-align: center;
}

.services .item button {
  font-size: 12px;
  line-height: 30px;
  font-weight: 600;
  padding: 4px 30px;
  color: white;
  background-color: rgb(40, 60, 40);
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}

.services .item button p{
  transition: all 0.5s;
}

.services .item button i {
  color: white;
}

.services .item button:hover p{
  color: white;
}

.services .item .log {
  width: 90px !important;
  height: 90px !important;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px;
  border-radius: 50%;
  border: 2px dotted #29b638;
  transition: all 0.2s ease-in-out;
  background-color: #182818;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.services .item .log img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
  transition: all 0.3s;
  margin: auto;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
}

.services .item .log img:hover {
  width: 90% !important;
  height: 90% !important;
}

@media (max-width: 1600px) {
  .page3-contents {
    width: 80%;
  }
}

/* .services.owl-carousel .owl-nav button{
  position: absolute!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */

.page3 .owl-prev,
.page3 .owl-next {
  background-color: red;
  border: none;
  background-color: transparent;
  color: #29b638;
  font-size: 30px;
  padding: 10px 25px;
  border: 2px dotted #29b638;
  position: absolute;
  z-index: 9;
  border-radius: 6px;
  right: 0;
  top: 10%;
  transform: translateY(-10%);
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 900;
}

.page3 .owl-prev:hover,
.page3 .owl-next:hover {
  color: white;
  border-color: white;
}

.page3 .owl-prev {
  margin-right: 100px;
}

@media (max-width: 927px) {
  .page3 .owl-prev,
  .page3 .owl-next {
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 900;
  }
  .page3 .owl-prev {
    margin-right: 60px;
  }
  .top-part-text {
    width: 80%;
  }
  .top-part-text h2 {
    font-size: 40px !important;
  }
}

@media (max-width: 769px) {
  .page3 .owl-prev,
  .page3 .owl-next {
    display: none;
  }
  .top-part-text {
    width: 100%;
  }
  .top-part-text h2 {
    font-size: 45px !important;
  }
}

.page4 {
  width: 100vw;
  margin-bottom: 100px;
  padding: 100px 0;
  background: url("https://bracketweb.com/gardon-html/main-html/assets/images/shapes/process-one-shape-1.png")
    no-repeat bottom/contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #eef3eb;
  flex-wrap: wrap;
}

.page4 .logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page4 .logo-section img {
  width: 40px;
  margin-bottom: 10px;
}

.page4 .logo-section span {
  color: rgb(109, 117, 109);
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.page4 h2 {
  font-size: 46px;
  line-height: 55px;
  letter-spacing: -1.84px;
  font-weight: 600;
  width: 35%;
  text-align: center;
  margin-bottom: 50px;
}

.page4 .small-banner {
  display: flex;
  gap: 80px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.page4 .small-banner p {
  color: rgb(25, 41, 25);
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.page4 .small-banner button {
  background-color: RGB(42, 185, 57);
  padding: 4px 40px;
  border: none;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.page4 .small-banner button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1c451f;
  transform: translateY(-100%);
  z-index: -1;
  transition: all 0.5s;
}

.page4 .small-banner button:hover:after {
  transform: translateY(0%);
}

.page4 .small-banner button a {
  text-decoration: none;
  color: RGB(255, 255, 255);
  font-size: 12px;
  line-height: 30px;
  font-weight: 600;
}

.circle-contents {
  display: flex;
  width: 80%;
  margin: auto;
  /* border: 2px solid; */
  margin-bottom: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.four-box-containing-circle {
  width: 20%;
  padding: 10px;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.four-box-containing-circle .circle .inner-circle i {
  font-size: 60px;
}

.four-box-containing-circle .circle .inner-circle {
  background-color: #f0f4ed;
  padding: 31px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.four-box-containing-circle .circle .inner-circle.person {
  padding: 18px 31px;
}

.four-box-containing-circle .circle .inner-circle.leaf {
  padding: 28px 32px;
}

.four-box-containing-circle .circle .inner-circle.tree {
  padding: 25px 32px;
}

.four-box-containing-circle .circle .inner-circle::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #1c3f1e, #29b037);
  z-index: -1;
  width: 0;
  height: 0;
  transition: all 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.four-box-containing-circle:hover .circle .inner-circle::after {
  width: 100%;
  height: 100%;
}

.four-box-containing-circle:hover .circle .inner-circle i {
  color: white;
}

.four-box-containing-circle .circle {
  padding: 15px;
  border: 2px dotted #29b638;
  border-radius: 50%;
  background-color: #f5f8f3;
}

.four-box-containing-circle h4 {
  color: RGB(25, 41, 25);
  font-size: 20px;
  letter-spacing: -0.8px;
  line-height: 30px;
  font-weight: 600;
}
.four-box-containing-circle p {
  color: RGB(109, 117, 109);
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1199px) {
  .page4 .circle-contents .four-box-containing-circle {
    flex: 0 0 50%;
  }
}

@media (max-width: 1199px) {
  .page4 .circle-contents .four-box-containing-circle {
    flex: 0 0 100%;
  }
}

@media (max-width: 802px) {
  .small-banner {
    /* border: 2px solid; */
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px !important;
  }
}

@media (max-width: 1550px) {
  .page4 h2 {
    width: 100%;
  }
}

@media (max-width: 864px) {
  .page4 h2 {
    width: 90%;
    font-size: 40px;
  }
}

@media (max-width: 614px) {
  .page4 .small-banner p {
    text-align: center;
  }

  .page4 .small-banner button {
    width: 100%;
  }
}

.page5 {
  width: 100vw;
  margin: 100px 0;

}

.page5-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.page5-container .feedback {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 15px 15px;
  position: relative;
}

.page5-container .feedback img {
  width: 40px;
  margin-bottom: 10px;
}

.page5-container .feedback span {
  font-size: 12px;
  color: gray;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}

.page5-container .feedback h2 {
  font-size: 46px;
  line-height: 55px;
  letter-spacing: -1.84px;
  font-weight: 600;
  margin-bottom: 10px;
}

.page5-container .feedback p {
  color: gray;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.page5-container .review {
  width: 60%;
  position: static !important;
}

.page5-container .review .item {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 50px 20px;
}

.page5-container .review .item .stars i {
  color: green;
}

.page5-container .review .item p {
  color: gray;
  font-size: 16px;
  line-height: 30px;
  padding: 20px 0px 21px;
  font-weight: 400;
}

.page5-container .review .item .info {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: start;
  gap: 20px;
  align-items: center;
}

.page5-container .review .item .info .info-img {
  border-radius: 50%;
  border: 4px dotted #29b638;
  padding: 5px;
}

.page5-container .review .item .info .info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.page5-container .review .item .info .img-name {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page5-container .review .item .info .img-name h4 {
  color: black;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.8px;
  margin: 0 0 5px;
  font-weight: 600;
}

.page5-container .review .item .info .img-name p {
  color: gray;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  padding: 0;
}

.page5-container .review .item {
  background: url(https://bracketweb.com/gardon-html/main-html/assets/images/shapes/testimonial-one-shape-1.png)
    no-repeat bottom/contain;
  transition: all 0.5s;
  border-radius: 6px;
  box-shadow: 0 0 100px rgba(189, 189, 189, 0.2);
}

.page5-container .review .item:hover {
  transform: translateY(-20px);
}

.review .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
}

.review .owl-dots .owl-dot span {
  background-color: transparent;
}

.review .owl-dots .owl-dot.active span {
  background-color: #29b037 !important;
  width: 10px !important;
  height: 10px !important;
}

.review .owl-dots .owl-dot.active {
  border: 2px dotted #29b037;
  border-radius: 50%;
  padding: 2px 0.5px !important;
}

@media (max-width: 1335px) {
  .page5-container {
    flex-direction: column;
    width: 90%;
    gap: 20px;
  }
  .page5-container .feedback {
    width: 100%;
    margin: 0;
  }

  .page5-container .feedback h2 {
    width: 100%;
  }
  .page5-container .feedback p {
    font-size: 20px;
    width: 90%;
  }

  .review .owl-dots {
    display: none;
  }

  .review {
    width: 100% !important;
  }
}

@media (max-width: 710px) {
  .page5-container .feedback {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 748px) {
  .page5-container .feedback p {
    width: 100% !important;
    text-align: center;
  }
  .page5-container .feedback h2 {
    width: 100% !important;
    text-align: center;
  }
  .page5-container .feedback{
    align-items: center;
  }
}

.page6{
  width: 100vw;
  height: 100vh;
}

.page6 .projects-text{
  display: block;
  margin-bottom: 50px;
}

.page6 .projects-text > *{
  display: block;
  margin: auto;
  text-align: center;
}

.page6 .projects-text img{
  width: 40px;
  margin-bottom: 10px;
}

.page6 .projects-text span{
  color: gray;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-bottom: 30px;
}

.page6 .projects-text h2{
  color: black;
  font-size: 46px;
  line-height: 55px;
  letter-spacing: -1.8px;
  font-weight: 600;
}

.projects.owl-carousel{
  overflow:visible!important;
}

.projects .item{
  border-radius: 6px;
  overflow: hidden;
  margin: 50px 0;
}

.projects .item.even-item {
  transform: translateY(50px)!important;
}
.projects .item.odd-item {
  transform: translateY(-50px)!important;
}

@media (max-width:480px){
  .projects{
    width: 80%!important;
    margin: auto;
  }

  .projects .item{
    width: 80%!important;
  }
}
