@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

:root {
  --topnav: #29b638;
  --sidenav: #192919;
}

.my-element {
  border: 2px solid black;
}

.page1 {
  height: 90vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hero-carousel img {
  /* object-fit: cover; */
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(60%);
}

.hero-carousel .owl-nav {
  position: absolute;
  bottom: 80px;
  right: 0;
  margin-right: 250px;
  background-color: white;
  padding: 15px 40px;
  padding-bottom: 20px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

@media (max-width:727px) {
    .hero-carousel .owl-nav{
        right: 0;
        margin-right: 100px;
    }
}

@media (max-width:469px) {
    .hero-carousel .owl-nav{
        right: 0;
        margin-right: 10px;
        padding: 10px 20px;
        gap: 50px;
    }
}

.owl-dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  z-index: 10000;
}

.owl-carousel button {
  margin: 2px;
}

nav {
  position: fixed;
  top: 20px;
  z-index: 1;
  left: 0;
  right: 0;
  width: 96%;
  margin: auto;
  border-radius: 6px;
}

nav-upper-part {
  display: flex;
  padding: 10px 40px;
  font-size: 13px;
  justify-content: space-between;
  background-color: var(--topnav);
  color: white;
  margin-bottom: 3px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#nav-uleft-side {
  display: flex;
  gap: 30px;
  width: 50%;
  justify-content: start;
}

.num {
  display: flex;
  gap: 10px;
  align-items: center;
}

#nav-uright-side {
  display: flex;
  width: 50%;
  justify-content: end;
}

#nav-uright-side span {
  margin-right: 30px;
}

#nav-uright-side i {
  margin-right: 15px;
}

.fa-phone {
  transform: rotateY(180deg);
  font-size: 8px;
  position: relative;
  color: var(--topnav);
  padding: 3px;
  margin-right: -2px;
}

.fa-phone::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: -1;
  border-radius: 2px;
}

nav-lower-part {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 35px 50px;
  gap: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

nav-lower-part img {
  position: absolute;
  top: 0;
  left: 0;
}

#nav-lmid-part {
  display: flex;
  gap: 30px;
  width: fit-content;
  margin: auto;
}

#nav-lmid-part a {
  text-decoration: none;
  color: gray;
}

nav-lower-part .fa-grip-lines,
nav-lower-part button {
  display: none;
}

#icons {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  /* border: 2px solid; */
}

#icons i {
  color: gray;
  font-size: 25px;
}

.fa-magnifying-glass {
  margin-right: 15px;
}

#icons span {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.264);
  margin-right: 20px;
}

.fa-grip-lines {
  color: var(--topnav);
  font-size: 30px;
  cursor: pointer;
}

.mobile-show button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  line-height: 30px;
  font-size: 12px;
  outline: none;
  border: none;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 9;
  color: black;
  transform: all 0.5s;
}

.mobile-show button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  transform: translateY(-100px);
  transition: all 0.2s;
  z-index: -1;
}

.mobile-show button:hover:after {
  transform: translateY(0);
}

.mobile-show button:hover {
  color: rgb(255, 255, 255);
}

.mobile-show {
  display: none;
}

@media (max-width: 1413px) {
  #nav-lmid-part {
    /* border: 2px solid; */
    width: 100%;
    justify-content: end;
  }
}

@media (max-width: 1199px) {
  #nav-lmid-part {
    display: none;
  }
  nav-lower-part .fa-grip-lines,
  nav-lower-part button {
    display: block;
    display: flex;
  }
  .mobile-show {
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    width: 60%;
    justify-content: space-around;
  }

  nav-upper-part{
    display: none;
  }

  nav-lower-part{
    border-radius: 6px;
  }
}

@media (max-width: 991px) {
  .mobile-show button {
    display: none;
  }
  .mobile-show {
    /* border: 2px solid black; */
    width: 50%;
  }
}

@media (max-width: 769px) {
  nav-lower-part #icons {
    display: none;
  }
  #myimage {
    height: 100%;
  }
  .mobile-show {
    /* border: 2px solid black; */
    width: 100%;
    justify-content: end;
  }
  nav-lower-part{
    overflow: hidden;
  }
}

.nav-show-on-small-screen{
    background-color:var(--sidenav);
    display: flex;
    flex-direction: column;
    height:100vh;
    width: fit-content;
    align-items: start;
    justify-content: start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0 15px;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.nav-show-on-small-screen .closing-cross{
    color: white;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.nav-show-on-small-screen a{
    text-decoration: none;
    color: white;
    border-bottom:1px solid rgb(43, 69, 43);
    padding: 15px 15px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.nav-show-on-small-screen a:first-child{
    padding-top: 0;
}

.email-small,.phone-small,.icons-coll-small{
    padding: 15px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.email-small i{
    font-size: 10px;
    background-color: #008000;
    padding: 10px;
    border-radius: 50%;
}

.phone-small i {
    font-size: 10px;
    position: relative;
    color: white;
    background-color: #008000;
    border-radius: 50%;
    padding: 10px;
}

.phone-small i::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #008000;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
}

.icons-coll-small{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.icons-coll-small i{
    font-size: 18px;
}

.small-nav-show-right{
    transform: translateX(0%);
}

#text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 1;
    /* border: 2px solid; */
    width: 75%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

#text-container button{
    width: fit-content;
}

#text-container h4{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

#text-container h1{
    font-size: 96px;
    line-height: 90px;
    letter-spacing: -3.84px;
    font-weight: 500;
    margin-bottom: 50px;
}

#text-container button{
    padding: 15px 50px;
    font-size: 16px;
    line-height: 30px;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #2AB939;
    color: white;
    font-weight: 500;
}

@media (max-width:1199px) {
    #text-container{
        width: 95%;
    }
}
@media (max-width:769px) {
    #text-container{
        width: 90%;
    }
    #text-container h4{
        font-size: 19px;
        margin-bottom: 5px;
    }
    #text-container h1{
        font-size: 70px;
        margin-bottom: 25px;
    }
    #text-container button{
        font-size: 13px;
    }
}

@media (max-width:757px){
    .owl-dots {
        display: none;
    }
}

@media (max-width:575px) {
    #text-container{
        width: 90%;
    }
    #text-container h4{
        font-size: 18px;
        margin-bottom: 0px;
    }
    #text-container h1{
        font-size: 70px;
        margin-bottom: 25px;
    }
    #text-container button{
        font-size: 12px;
        padding: 8px 25px;
    }
}

@media (max-width:361px) {
    #text-container{
        padding: 0 10px;
    }

    #text-container h4{
        font-size: 18px;
        margin-bottom: -10px;
    }
    #text-container h1{
        font-size: 58px;
        margin-bottom: 25px;
        line-height: 80px;
    }
}

